<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css" integrity="sha512-byErQdWdTqREz6DLAA9pCnLbdoGGhXfU6gm1c8bkf7F51JVmUBlayGe2A31VpXWQP+eiJ3ilTAZHCR3vmMyybA==" crossorigin="anonymous" />
    <title>ToDo</title>
    <style>
      [v-cloak] {
        display: none;
      }
      .list-item {
        transition: all 0.3s;
      }
      .list-enter, .list-leave-to {
        opacity: 0;
        transform: translateX(50px);
      }
      .list-leave-active {
        position: absolute;
      }
    </style>
  </head>
  <body>
    <div id="container" class='container'>
      <div class='columns is-narrow-mobile mt-3'>
        <div class='column is-8 is-offset-2'>
          <form @submit.prevent='add'>
            <div class='field has-addons'>
              <p class='control is-expanded'>
                <input type='text' class='input is-medium' v-model='description' placeholder='Enter a task. (Separate by colon to categorize)' autocomplete='on' list='categories'>
              </p>
              <p class='control'>
                <button class='button is-info is-medium' type='submit'>Add</button>
              </p>
            </div>
          </form>

          <datalist id='categories'>
            <option v-for='category in compact_categories' :key='category'>{{category}}:</option>
          </datalist>
        </div>
      </div>

      <div class='columns is-narrow-mobile'>
        <div class='column is-8 is-offset-2 content is-medium'>
          <div v-cloak v-for='category in categories' :key='category' class='mt-3'>
            <h4 class='has-text-weight-semibold' v-text='category'></h4>
            <transition-group name='list' tag='ul'>
              <li class='list-item' v-for='(task, i) in categoryTasks(category)' :key='task.date'>
                <label class='checkbox'>
                  <input type='checkbox' @change='complete(task.date)' />
                  {{task.description}}
                  <span class='is-size-7'>({{task.date | relativeTime}})</span>
                </label>
              </li>
            </transition-group>
          </div>
          <div v-if='completeTasks.length > 0' class='mt-3' v-cloak>
            <h4>Complete</h4>
            <li class='list-item' v-for='(task, i) in completeTasks' :key='task.date'>
              <s>{{task.description}}</s>
              <span class='is-size-7'>({{task.completeAt | absoluteTime}})</span>
            </li>
          </div>
        </div>

      </div>
    </div>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js" integrity="sha512-BKbSR+cfyxLdMAsE0naLReFSLg8/pjbgfxHh/k/kUC82Hy7r6HtR5hLhobaln2gcTvzkyyehrdREdjpsQwy2Jw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js" integrity="sha512-0fcCRl828lBlrSCa8QJY51mtNqTcHxabaXVLPgw/jPA5Nutujh6CbTdDgRzl9aSPYW/uuE7c4SffFUQFBAy6lg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/plugin/relativeTime.min.js" integrity="sha512-BQqXM2ye6+98YyRQzE676pY2Bc4d3o/fBNlBQyKv2J9oKwp9K/4BVqFWIJBx1zKlAJ8M0PIJR5Yp51FsnSUynQ==" crossorigin="anonymous"></script>
    <script language="ecmascript" type="text/ecmascript">
      const app = new Vue({
        el: '#container',
        data() {
          return {
            description: '',
            tasks: [],
            completeTasks: [],
            useLocalStorage: true
          }
        },
        computed: {
          categories() {
            const c = this.tasks.map(t => t.category);
            return Array.from(new Set(c)).sort(); // uniq
          },
          compact_categories() {
            const c = this.tasks.filter(t => t.category).map(t => t.category);
            return Array.from(new Set(c)).sort(); // uniq
          }
        },
        filters: {
          relativeTime(time) {
            return dayjs(time).fromNow();
          },
          absoluteTime(time) {
            return dayjs(time).format('YYYY-MM-DD HH:mm:ss');
          }
        },
        methods: {
          categoryTasks(category) {
            return this.tasks.filter(t => t.category === category);
          },
          reset() {
            this.description = null;
          },
          add() {
            if(this.description) {
              const i = this.description.indexOf(':');
              const cat = i > 0 ? this.description.substr(0, i) : '';
              const desc = i > 0 ? this.description.substr(i+1) : this.description;
              this.tasks.push({
                category: cat.trim(),
                description: desc.trim(),
                date: new Date().getTime()
              });
              this.save();
            }
            this.reset();
          },
          complete(date) {
            const i = this.tasks.findIndex(x => x.date === date);
            const task = this.tasks[i];
            task.completeAt = new Date().getTime();
            this.completeTasks.push(task);
            this.tasks.splice(i, 1);
            this.save();
          },
          save() {
            if(this.useLocalStorage) {
              localStorage.setItem('tasks', JSON.stringify(this.tasks));
              localStorage.setItem('completeTasks', JSON.stringify(this.completeTasks));
            }
          },
          load() {
            if(this.useLocalStorage) {
              this.tasks = JSON.parse(localStorage.getItem('tasks') || '[]');
              this.completeTasks = JSON.parse(localStorage.getItem('completeTasks') || '[]');
              this.refresh();
            }
          },
          refresh() {
            const limit = dayjs(new Date().getTime()).subtract(10, 'm').unix();
            // TODO
          },
          clear() {
            this.completeTasks = [];
            this.save();
          }
        },
        created() {
          dayjs.extend(dayjs_plugin_relativeTime);
          this.load();
        }
      });
    </script>
  </body>
</html>
